
[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
csharp_using_directive_placement=inside_namespace:silent
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:hint
dotnet_style_qualification_for_field=false:hint
dotnet_style_qualification_for_method=false:hint
dotnet_style_qualification_for_property=false:hint
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_braces_for_fixed=required_for_multiline
resharper_braces_for_lock=required_for_multiline
resharper_braces_for_using=required_for_multiline
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_blank_lines_inside_region=0
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_max_line_length=150
resharper_csharp_new_line_before_while=true
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_after_declaration_lpar=true
resharper_csharp_wrap_after_invocation_lpar=true
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_declaration_rpar=true
resharper_csharp_wrap_before_first_type_parameter_constraint=true
resharper_csharp_wrap_before_invocation_rpar=true
resharper_csharp_wrap_before_ternary_opsigns=false
resharper_csharp_wrap_chained_method_calls=chop_if_long
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_indent_preprocessor_if=usual_indent
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_initializer_arrangement=false
resharper_keep_existing_invocation_parens_arrangement=false
resharper_keep_existing_linebreaks=false
resharper_local_function_body=expression_body
resharper_max_attribute_length_for_same_line=40
resharper_max_enum_members_on_line=1
resharper_max_formal_parameters_on_line=100000
resharper_max_initializer_elements_on_line=1000
resharper_method_or_operator_body=expression_body
resharper_place_attribute_on_same_line=False
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_embedded_statement_on_same_line=False
resharper_space_after_cast=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_array_initializer_style=chop_if_long
resharper_wrap_chained_binary_expressions=chop_if_long

# ReSharper inspection severities
resharper_field_can_be_made_read_only_global_highlighting=hint
resharper_identifier_typo_highlighting=none
resharper_member_can_be_private_global_highlighting=hint
resharper_non_readonly_member_in_get_hash_code_highlighting=hint
resharper_redundant_base_qualifier_highlighting=warning
resharper_string_literal_typo_highlighting=none
resharper_unused_member_global_highlighting=none
